.hero{
    height: auto;
    background-color:#fffcf3 ;
    width: 100%;
    color: #192a56;
}
.hero-container{
    width: 98%;
    height: auto;
    margin: auto;
 
    padding-top: 1rem;
}
.nav{
    display: flex;
    gap: 15rem;
    margin-left: 3rem;
}
.logo{
    font-weight: 700;
    font-size: 2rem;
}
/* .logo::before, .logo::after{
    content: "";
    width: 100%;
    background: #192a56;
    height: 5px;
    display: block;
} */
.list ul{
    display: flex;
    gap: 2rem;
}
@media(max-width:990px){
    .list{
        display: none;
    }
}



ul li{
    list-style: none;
    font-weight: 500;
}
.hero-body{
    display: flex;
    margin-top: 3rem;
    padding-bottom: 3rem;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
}

.left-container{
    float: left;
    width: 45%;
    /* background-color: yellow; */
    margin: auto;
}
@media(max-width:990px){
    .left-container{
        width: 90%;
        margin-bottom: 1rem;
        float: left;
    }
}

.right-container{
    width: 50%;
    float: right;
    /* background-color: green; */
    margin: auto;
    height: auto;
    flex-wrap: wrap;
    
    
}
@media(max-width:990px){
    .right-container{
        width: 90%;
    }
}
.amount input{
    padding: 15px 35px;
}
.main{
 margin-top: 3rem;
 margin-left: 3rem;
}
.main h1{
    font-size: 3rem;
}
.hero-btn, button{
    padding: 9px 11px;
    border: none;
    border-radius:2px;
    color: #fffcf3;
    background-color: #192a56;
}
.rate{
    display: flex;
    gap: 5rem;
}
.switch, button{
    margin-top: 2rem;
}